<!-- Grid of Users -->
<div class="row">
  <% @users.each do |user| %>
  <div class="col-lg-4">
    <div class="thumbnail">
      <% user.photos.each do |photo| %>
        <% if photo.image %>
          <a href="/users/<%= photo.user_id %>"><img src="<%= photo.image_url %>" class="img-rounded" width="300px"></a>
        <% elsif user.is_female == true %>
          <img src="https://elizahyde-profile-pics.s3.amazonaws.com/uploads/34332dfa-aa6a-4a98-b594-1cdfa3bc33c7/female.jpg" class="img-rounded media-object" width="300px">
        <% else %>
          <img src="https://elizahyde-profile-pics.s3.amazonaws.com/uploads/1f25702c-1702-4f46-adaf-13f72d883b9d/male.jpg" class="img-rounded" width="300px">
        <% end %>
      <% end %>
      <div class="caption">
        <h3><%= user.username %></h3>
        <p><%= user.profile_text %></p>
        <p><a href="#" class="btn btn-primary">Message</a> <a href="#"
          class="btn btn-default">Wink</a></p>
      </div>
    </div>
  </div>
<% end %>
</div>

