<!-- Grid of Users -->
<div class="row">
  <% @users.each do |user| %>
  <div class="col-lg-4">
    <div class="thumbnail">
      <% if user.is_female == true %>
      <img src="https://elizahyde-profile-pics.s3.amazonaws.com/uploads/de72b6ff-b007-4f4f-bb94-63c479538c1d/Screen%20Shot%202013-05-07%20at%207.36.38%20PM.png" class="img-rounded" width="300px">
      <% else %>
      <img src="https://elizahyde-profile-pics.s3.amazonaws.com/uploads/7b4a5932-e9c8-47d4-8ae4-dbed488df4fd/562678_10151085466955141_1649844718_n.jpg" class="img-rounded" width="300px">
      <% end %>
      <div class="caption">
        <h3><%= user.username %></h3>
        <p><%= user.profile_text %></p>
        <p><a href="#" class="btn btn-primary">Message</a> <a href="#"
          class="btn btn-default">Wink</a></p>
      </div>
    </div>
  </div>
<% end %>
</div>

