<div class="row">
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="">
    </a>
  </div>
</div>