<div class="row">
  <div id="hotties">
    <ul>
      <% @photos.each do |photo| %>
      <li><a href="/users/<%= photo.user_id %>"><img src="<%= photo.image %>" alt="" class="thumbnail"></a><caption><%= photo.caption %></caption></li>
      <% end %>
    </ul>
  </div>
</div>


